.article-details-shimmer {
  @keyframes placeHolderShimmer {
    0% {
      background-position: 100%;
    }

    100% {
      background-position: -100%;
    }
  }

  .animated {
    animation: 3s linear infinite placeHolderShimmer;

    &.dark {
      background: linear-gradient(to right, #828181 0%, #999898 8%, #828181 50%, #999898 58%, #828181 66%);
    }

    &.light {
      background: linear-gradient(to right, #afaaaa 0%, #dddddd 8%, #afaaaa 16%, #afaaaa 50%, #dddddd 58%, #afaaaa 66%);
    }

    background-size: 200% !important;
  }

  .img-shimmer {
    border-radius: 10px;
    width: 270px;
    height: 405px;
  }

  .title-shimmer {
    width: 400px;
    background-color: #afaaaa;
    height: 30px;
    border-radius: 10px;
  }

  .subtitle-shimmer {
    width: 100px;
    height: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .favorite-icon-shimmer {
    font-size: 25px;
    color: #999898
  }

  .date-shimmer {
    width: 80px;
    height: 7px;
    border-radius: 3px;
    margin: 10px 0px;
  }

  .paragraph-shimmer {
    width: 70%;

    p {
      height: 7px;
      border-radius: 3px;
      margin: 4px 0px;

      &:nth-child(1) {
        width: 80%;
      }
    }
  }
}