.hero {
  >div {
    height: 100vh;
    position: relative;

    >img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .hero-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);

      .search-label {
        font-weight: 500;
        font-size: xx-large;
        color: #ffffff;
        margin-bottom: 20px;
        margin-top: 150px;
      }
    }
  }

}

.popular-movies,
.upcoming-movies {
  .title {
    font-weight: 300;
    font-size: x-large;
    color: #dc3545;
    margin: 50px 0 20px 0;
  }


}

.upcoming-movies {
  .article-card {
    margin: 0;
  }
}